body {
    font-family: cursive;
}

input {
    border-radius: 8px;
}

.paadiv {
    height: 90%;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 8px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    display: flex;
    flex-direction: column;
}

.paaotsikko {
    text-align: center;
}

.treenilistadiv {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 400px;
    width: 60%;
    border-radius: 8px;
    background: linear-gradient(to right, #feb47b, #ff7e5f);
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}



.lisaaButton {
    background-color: rgb(27, 219, 27);
    border-radius: 50%;
    border-style: none;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.lisaaButton:hover {
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.treeniotsikkodiv {
    background: #f0f0f0;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.treeniotsikkodiv:hover {
    cursor: pointer;
}

.treeniotsikko {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
}

.treeniliikenimi {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-weight: bold;
}

.treeniptnimet {
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 15px;
}

.poistaButton {
    margin-left: auto;
    margin-right: 5px;
    height: 90%;
    margin-top: 7px;
    height: 20px;
    font-size: 10px;
}
.poistaButton:hover {
    cursor: pointer;
    height: 25px;
}

.treeniklik {
    width: 92%
}

@media (max-width: 600px) {
    .paadiv {
        height: 99%;
        width: 99%;
        margin-left: 1%;
        margin-top: 1%;
    }
    .paaotsikko {
        font-size: 23px;
    }
    .treenilistadiv {
        width: 300px;
    }
}